<div th:switch="${games}">
	<h2 th:case="null">No games yet!</h2>
	<div th:case="*">
		<h2>Games</h2>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="game : ${games}">
					<td th:text="${game.id}"></td>
					<td th:text="${game.name}"></td>
					<td><a th:href="@{/editgame/{id}(id=${game.id})}">Edit</a></td>
					<td><a th:href="@{/deletegame/{id}(id=${game.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p>
		<a href="/gameform">Add a new game</a>
		<a href="/showstats">Back to stats</a>
	</p>
</div>