<head th:include="fragments/header :: headerFragment">
<title id="pageTitle">Login statGambler</title>
</head>

<body style="background-color: gray;">

	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	<div class="mx-auto col-md-4">
		<div class="card">
			<div class="card-header">Login</div>
			<div class="card-body">
			<div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
				<div class="login_form">
					<section class="login-wrapper">

						<form action="#" th:action="@{/login}" th:object="${user}"
							method="post">
							<div class="row">
								<label for="username">Username</label></div><div class="row">  <input type="text"
									th:field="*{username}" id="username" placeholder="Nombre"
									autocapitalize="off" autocorrect="off"> <span
									th:if="${#fields.hasErrors('username')}"
									th:errors="*{username}"></span>
							</div>
							</br>
							<div class="row">
								<label for="password">Contrase&ntilde;a</label></div><div class="row"> <input
									type="password" th:field="*{password}" id="password"
									class="password" placeholder="Contrase&tilde;a"> <span
									th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
							</div>
							<div class="row">
								<button class="btn btn-primary" type="submit" value="Login">Login</button>
							</div>
						</form>
						<div class="warn">
							No tienes cuenta?<a href="/newuser">Click aqui</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</body>

</html>